{% extends "chatroom/base.html" %}

{% block content %}

<div class="col s12 m6">
    <div class="icon-block ">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Password set</h5>

        <form  class="" method="post" action="{% url 'password_reset_complete' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input  class="btn waves-effect waves-light" type="submit" value="Confirm">

        </form>

    </div>
</div>

{% endblock %}